// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  p {
    line-height: 30px;
  }

  .container-studio {
    // About
    .about {
      display: flex;
      flex-direction: column;

      p {
        font-size: 20px;
      }

      a {
        width: fit-content;
        padding-left: 2.5em;
        padding-right: 2.5em;
        margin: 0 auto;
        margin-top: 2em;
      }

      h2 {
        font-size: 40px;
      }

      .modalidades {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
    }

    // Modalidades
    .modalidades-full {
      background-size: contain;

      .card {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .image {
          margin-right: 3em;
        }
      }

      // Outros Serviços
      .other-services {
        .services {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 30px;

          .card {
            margin-top: 0;
            border: none;
            h4 {
              font-weight: normal;
              font-size: 1.2em;
            }
          }
        }
      }
    }

    // Footer
    footer {
      .rodape {
        background-size: 80%;
        .card {
          .logo {
            min-width: 400px;
          }

          .social {
            margin-top: 2em;

            img {
              min-width: 60px;
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-studio {
    // Carousel
    .carousel {
      height: 600px;

      &-indicators {
        &:before {
          width: 80%;
        }

        .whatsapp {
          top: 685px;
        }
      }

      &-image {
        position: absolute;
        left: 5%;
        top: 15%;
        z-index: -1;
      }

      &-caption {
        height: 600px;
        max-width: 450px;

        p {
          &::after {
            right: 0;
            top: 13%;
            z-index: -1;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-studio {
    // Footer
    footer {
      .infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
