// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  p {
    line-height: 30px;
  }

  // About
  .about {
    display: flex;
    flex-direction: column;

    p {
      font-size: 20px;
    }

    a {
      width: fit-content;
      padding-left: 2.5em;
      padding-right: 2.5em;
      margin: 0 auto;
      margin-top: 2em;
    }

    h2 {
      font-size: 40px;
    }

    .modalidades {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  // Modalidades
  .modalidades-full {
    background-size: contain;

    .card {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .image {
        margin-right: 3em;
      }
    }

    // Outros Serviços
    .other-services {
      .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        .card {
          margin-top: 0;
          border: none;
          h4 {
            font-weight: normal;
            font-size: 1.2em;
          }
        }
      }
    }
  }

  // Footer
  footer {
    .rodape {
      background-size: 80%;
      .card {
        .logo {
          min-width: 400px;
        }

        .social {
          margin-top: 2em;

          img {
            min-width: 60px;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // Carousel
  .carousel {
    height: 600px;

    &-indicators {
      &:before {
        width: 80%;
      }

      .whatsapp {
        top: 685px;
      }
    }

    &-image {
      position: absolute;
      left: 12%;
      top: 10%;
      z-index: -1;
    }

    &-caption {
      height: 600px;
      max-width: 450px;

      p {
        &::after {
          right: 0;
          top: 13%;
          z-index: -1;
        }
      }
    }
  }

  // About
  .about {
    width: 90vw;
    margin: 4em auto 0 auto;
  }

  // Gallery
  .gallery {
    margin-top: 5em;
  }

  // Footer
  footer {
    margin-top: 8em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  p {
    font-size: 18px;
  }

  // Menu
  .menu {
    .nav-link {
      @include fontSize(18px);
      font-weight: normal;
    }

    .navbar {
      &-nav {
        justify-content: space-evenly;
        width: 100%;
      }

      &-collapse {
        justify-content: center;
      }
    }
  }

  // Carousel
  .carousel {
    &-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      position: absolute;
      left: 96%;
      top: 15%;

      li {
        margin: 1em 0;

        &:nth-child(1) {
          a {
            transform: rotate(180deg);
          }
        }

        a {
          color: $white;
          writing-mode: vertical-rl;
          font-weight: bold;
          transition: all ease 0.4s;

          &:hover {
            color: $yellow;
            text-decoration: none;
          }
        }
      }
    }

    &-indicators {
      .whatsapp {
        top: 685px;
      }
    }

    &-image {
      left: 10%;
      top: 0%;
    }

    &-caption {
      max-width: 550px;

      h5 {
        @include fontSize(40px);
      }

      p {
        max-width: 82%;
        @include fontSize(16px);

        &::after {
          content: url(../img/title_detail_2x.png);
          right: 75px;
          top: 15%;
        }
      }

      a {
        margin-top: 3em;
      }
    }
  }

  // About
  .about {
    width: 100vw;
    margin-left: 5vw;
    min-height: 500px;
    display: grid;
    grid-template-columns: 8fr 4fr;
    background-image: url(../img/studio4_about.jpg);
    background-position: right;

    .infos {
      margin: auto 0;

      .modalidades {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: left;
      }
    }
  }

  // Footer
  footer {
    .infos {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // Menu
  .menu {
    .nav {
      &bar-nav {
        justify-content: space-evenly;
        width: 60%;
      }

      &bar-collapse {
        justify-content: space-between;
      }

      &-modalidades {
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;

        li {
          img {
            max-width: 30px;
          }
        }
      }
    }
  }

  // Carousel{
  .carousel {
    &-indicators {
      &:before {
        width: 90%;
        left: 10%;
      }

      .whatsapp {
        cursor: pointer;

        img {
          margin-right: 0.5em;
        }

        a {
          display: flex;
          color: $black;
          font-weight: bold;

          span {
            display: block;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &-image {
      max-width: 90%;
      left: 15%;
      top: -25%;
    }

    &-caption {
      display: flex;
      flex-direction: column;
      margin-top: 3em;

      a {
        width: 65%;
      }
    }

    &-links {
      left: 97.3%;
    }
  }

  // About
  .about {
    background-image: url(../img/studio4_about_1x.jpg);
    grid-template-columns: 5fr 6fr;
    min-height: 700px;

    .infos {
      margin-top: 5em;
    }
  }

  // Modalidades
  .modalidades-full {
    h2 {
      margin: 0;
    }

    &info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;

      .card {
        .image {
          margin-right: 1em;
        }

        p {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }

    // Outros Serviços
    .other-services {
      .services {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .card {
          min-height: 115px;
          background-position: center;
        }
      }
    }
  }

  // Footer
  footer {
    .rodape {
      background-size: 50%;

      .card {
        .social {
          margin-top: 1em;

          width: 20%;
        }
      }
    }
  }
}
